.boxletturaarticoli{
align-items:center;
background-color:rgb(133, 172, 210);
background-size:cover;
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
color:rgb(0, 0, 0);
display:flex;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:294px;
line-height:23.24px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:100px;
padding-left:0px;
padding-right:0px;
padding-top:100px;
position:relative;
text-size-adjust:100%;
vertical-align:baseline;
width:1349px;
z-index:10;
-webkit-font-smoothing:antialiased;
}
.holderletturaarticolo{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:234px;
line-height:23.24px;
margin-bottom:0px;
margin-left:9em;
margin-right:312px;
margin-top:0px;
padding-bottom:30px;
padding-left:0px;
padding-right:0px;
padding-top:30px;
position:relative;
text-align:center;
text-size-adjust:100%;
vertical-align:baseline;
width:1024px;
z-index:2;
-webkit-font-smoothing:antialiased;
}
.the-title{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:60px;
text-decoration:bold;
font-weight:bold;
height:234px;
line-height:50px;
margin-bottom:0px;
margin-left:312px;
margin-right:312px;
margin-top:0px;
padding-bottom:30px;
padding-left:0px;
padding-right:0px;
padding-top:30px;
position:relative;
text-align:center;
text-size-adjust:100%;
vertical-align:baseline;
width:600px;
z-index:2;
-webkit-font-smoothing:antialiased;
}
.author{
border-bottom-color:rgb(255, 255, 255);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(255, 255, 255);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(255, 255, 255);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(255, 255, 255);
border-top-style:none;
border-top-width:0px;
color:rgb(255, 255, 255);
display:inline-block;
font-family:"Open Sans";
font-size:25px;
font-style:normal;
font-weight:normal;
height:23px;
line-height:23.24px;
margin-bottom:0px;
margin-left:4em;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-align:center;
text-size-adjust:100%;
vertical-align:baseline;
width:1024px;
-webkit-font-smoothing:antialiased;
}
.estest{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:auto;
line-height:23.24px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:95px;
text-size-adjust:100%;
vertical-align:baseline;
width:1349px;
-webkit-font-smoothing:antialiased;
}

.boxesternoarticolotesto{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:auto;
line-height:23.24px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-size-adjust:100%;
vertical-align:baseline;
width:1349px;
-webkit-font-smoothing:antialiased;
}
.boxarticolotesto{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:auto;
line-height:23.24px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:20px;
padding-right:20px;
padding-top:0px;
text-size-adjust:100%;
vertical-align:baseline;
width:1349px;
-webkit-font-smoothing:antialiased;
}
.boxarticolotesto{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:auto;
line-height:23.24px;
margin-bottom:0px;
margin-left:10px;
margin-right:0px;
margin-top:0px;
padding-bottom:40px;
padding-left:0px;
padding-right:0px;
padding-top:40px;
text-size-adjust:100%;
vertical-align:baseline;
width:1309px;
-webkit-font-smoothing:antialiased;
}
.articolotesto{
border-bottom-color:rgb(0, 0, 0);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(0, 0, 0);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(0, 0, 0);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(0, 0, 0);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
clear:both;
color:rgb(0, 0, 0);
display:block;
font-family:"Open Sans";
font-size:14px;
font-weight:normal;
height:auto;
line-height:23.24px;
margin-bottom:45px;
margin-left:350px;
margin-right:300px;
margin-top:10px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-size-adjust:100%;
vertical-align:baseline;
width:700px;
-webkit-font-smoothing:antialiased;
}